@using TECH.Areas.Admin.Models
@*@model Dictionary<string,List<PhongModelView>>*@
@model HomeModelViewCustomer
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .titlehome{
        margin: 20px 0px;
    }
    .info-prod-H {
      /*  position: absolute;*/
        /*right: 0;
        bottom: 0;
        left: 0;*/
        padding: 0 5px 5px 5px;
           
    }

        .info-prod-H h3 {
            color: #333;
            font-weight: 400;
            padding: 8px;
              font-size:13px;

                  margin: 0px;
        }

        .info-prod-H h4 {
            font-size: 14px;
            font-weight: 700;
            color: #f8456a;
                margin: 0px;
                    font-size: 13px;
              
        }
        .item{
            width: 100%;
            display: inline-block;
            height: 325px;
           /* border-right: 1px solid #eaeaea;
            border-bottom: 1px solid #eaeaea;*/
            text-align: center;
            position: relative;
            overflow: hidden;
                padding: 0px 10px;
                    border: 1px solid #ddd;
        }
    .img-prod-H {
     
        display: block;
      
        margin: 10px auto 0 auto;
    
         max-height: 250px;
    }
    .box-products .col-sm-4{
        padding: 0px 0px;
    }
    .t_span1 span{ cursor:pointer;}

    .padmb{
            margin-top: 42px;
    display: inline-block;
    width: 100%;
    }
    .title-sale {
        text-align: center;
        position: relative;
        margin-top: 10px;
        margin-bottom: 17px;
    }

        .title-sale:before {
            content: "";
            display: block;
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            height: 9px;
            width: 50%;
            border-top: 1px solid #e77e24;
            border-bottom: 1px solid #e77e24;
        }
        .title-sale p {
    margin: 0 auto;
    z-index: 2;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    line-height: 50px;
    padding: 0 63px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    /*background: #353535;*/
            background: #cd1818;
    -webkit-box-shadow: inset 0 3px 0 0 #e77e24, inset 0 -3px 0 0 #e77e24;
    -moz-box-shadow: inset 0 3px 0 0 #e77e24,inset 0 -3px 0 0 #e77e24;
    box-shadow: inset 0 3px 0 0 #e77e24, inset 0 -3px 0 0 #e77e24;
}

            .title-sale p:after, .title-sale p:before {
                content: "";
                display: block;
                width: 100px;
                height: 100px;
                position: absolute;
                background: #fff;
                z-index: 2;
                top: 0;
                bottom: 0;
                left: -63px;
                margin: auto 0;
                border: 4px solid #e77e24;
                -webkit-transform: rotate(45deg) skew(26deg,26deg);
                -moz-transform: rotate(45deg) skew(26deg,26deg);
                -ms-transform: rotate(45deg) skew(26deg,26deg);
                -o-transform: rotate(45deg) skew(26deg,26deg);
                transform: rotate(45deg) skew(26deg,26deg);
            }

            .title-sale p a {
                position: relative;
                display: inline-block;
                vertical-align: top;
                padding: 0 30px;
                color: #fff;
            }

                .title-sale p a:before {
                    content: "";
                    position: absolute;
                    left: -5px;
                    top: 15px;
                    background: url(image-common/favorites.svg) no-repeat;
                    background-size: 20px;
                    width: 20px;
                    height: 20px;
                }

                .title-sale p a:after {
                    content: "";
                    position: absolute;
                    right: -5px;
                    top: 15px;
                    background: url(image-common/favorites.svg) no-repeat;
                    background-size: 20px;
                    width: 20px;
                    height: 20px;
                }

            .title-sale p:after {
                left: auto;
                right: -63px;
            }

        .title-sale:after {
            content: "";
            display: block;
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            height: 1px;
            width: 70%;
            background: #e77e24;
        }

</style>

 <style>
        .t-prod-H {

        background: #e6e6e6;
    border-bottom: 1px solid #fff;
    display: block;
    width: 100%;
    height: 41px;
    margin-bottom: 0px;

}
.t-prod-H .t_span1 span.tab_news5 {
    background: #89a600;
}
.info-prod-H h3 {
    color: #333;
    font-weight: 400;
    padding: 8px;
    font-size: 13px;
    margin: 0px;
}
.info-prod-H h4 {
    font-size: 14px;
    font-weight: 700;
    color: #f8456a;
    margin: 0px;
    font-size: 13px;
}
.t-prod-H .t_span1 span {
    text-transform: uppercase;
    color: #fff;
    float: left;
    font-size: 14px;
    font-weight: 400;
    padding: 0 20px;
        height: 100%;
            display: inline-flex;
    align-items: center;
}
.box-content-componse .row{
    margin:0px;
}
.box-products{
        margin-top: 30px;
}

    .titlehome {
        float: left;
        width: 100%;
        background: #fff;
        border: 2px solid #ccc;
        height: 53px;
    }

        .titlehome i {
            line-height: 50px;
            color: #fff;
            height: 50px;
            padding-right: 50px;
            background-size: 50px 50px;
            background-position: 25px 0;
            background-repeat: no-repeat;
            background-color: #a6a6a6;
            margin-bottom: -4px;
            border-radius: 0 50px 50px 0;
            width: 120px;
            float: left;
            display:block;
        }

        .titlehome span {
            width: 48px;
            height: 48px;
            margin: 1px 0 -4px -49px;
            /*background: url(/image-common/favicon2.png) center no-repeat #fff;*/
            font-weight: 700;
            /*color: #010101;*/
            float: left;
            display: flex;
            /*border-radius: 50px;*/
            border-radius: 50%;
            background: #fff;
            color: #f7941d;
            justify-content: center;
            align-items: center;
            font-size: 19px !important;
        }

        .titlehome i, .titlehome span {
            font-size: 24px;
            text-align: center;
        }

        .titlehome h2 {
            /*line-height: 41px;*/
            padding-left: 20px;
            /*padding-top: 5px;*/
            font-size: 20px;
            text-decoration: none;
            color: #010101;
            margin:0px;
            float:left;
            display: flex;
            height: 100%;
            align-items: center;
        }

            .titlehome h2 a {
                color: #e77e24;
            }

        .titlehome a.viewall {
            color: #e77e24;
            margin-right: 10px;
            font-weight: bold !important;
            display: flex;
            height: 100%;
            align-items: center;
            padding-top: 0px;
            margin-top: 0px !important;
        }

        .titlehome .menuchild a, .titlehome a.viewall {
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
        }

        .titlehome .menuchild, .titlehome a.viewall {
            float: right;
            margin-top: 13px;
        }
        .product-item{
        display: inline-block;
        float: left;
        margin-right: 10px;
        }

       
    </style>


 <div class="slider">
        <style>
            .slider{
                    margin-top: 15px;
            }
        </style>
        <div class="container">
            <div class="owl-carousel owl-theme owl-carousel-setting">
            <div class="items" style="height:520px;"><img style="height:100%" src="/image-side/1.jpg" class="d-block w-100" alt="..."></div>
            @*<div class="items" style="height:520px;"><img style="height:100%" src="/image-side/4.jpg" class="d-block w-100" alt="..."></div>*@
            <div class="items" style="height:520px;"><img style="height:100%" src="/image-side/5.jpg" class="d-block w-100" alt="..."></div>
            <div class="items" style="height:520px;"><img style="height:100%" src="/image-side/7.jpg" class="d-block w-100" alt="..."></div>
            @*<div class="items" style="height:520px;"><img style="height:100%" src="/image-side/5.jpg" class="d-block w-100" alt="..."></div>*@
            @*<div class="items" style="height:520px;"><img style="height:100%" src="/image-side/banner5.jpeg" class="d-block w-100" alt="..."></div>*@
            @*<div class="items" style="height:520px;"><img style="height:100%" src="/image-side/banner6.jpg" class="d-block w-100" alt="..."></div>
            <div class="items" style="height:520px;"><img style="height:100%" src="/image-side/banner7.jpg" class="d-block w-100" alt="..."></div>*@
            </div>
        </div>
    </div>

@* <div class="padmb">
    <div class="title-sale">
        <p><a title="Laptop bán chạy">Phòng Mới</a></p>
    </div>
    <ul id="sale_div" class="listsp owl-carousel slide-caroulse owl-loaded owl-drag">

        <div class="owl-stage-outer"><div class="owl-stage"></div></div>
        <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev">‹</button><button type="button" role="presentation" class="owl-next">›</button></div>
        <div class="owl-dots disabled"></div>
    </ul>
    <span id="element_sale"></span>
</div>
 *@

@if (Model != null && Model.PhongModelViews != null && Model.PhongModelViews.Count > 0)
{
        <section class="box-section">
            <div class="content">
                <div class="container">
                    <div class="shoe-product">
                    @foreach (var item in Model.PhongModelViews)
                    {
                        if (!string.IsNullOrEmpty(item.Key))
                        {
                                        <div class="titlehome">
                                <i></i><span class="fa fa-home"></span>
                                            <h2>
                                                <a href="jordan-1-high">@item.Key</a>
                                            </h2>
                                            @*<a href="/san-pham/@item." class="viewall">Xem tất cả</a>*@
                                        </div>
                            foreach (var itemProduct in item.Value.Take(10))
                            {
                                                <div class="product-item">
                                                    <a href="/chi-tiet-phong/@itemProduct.Id">
                                                    <div class="images custom-image-status">
                                            @if (!string.IsNullOrEmpty(itemProduct.TinhTrangStr))
                                            {
                                                <div class="trang-thai-phong"><span>@itemProduct.TinhTrangStr</span></div>
                                            }
                                             @if (!string.IsNullOrEmpty(itemProduct.LoaiPhongStr))
                                            {
                                                <div class="loai-phong"><span>@itemProduct.LoaiPhongStr</span></div>
                                            }                                                                                            
                                            @if (!string.IsNullOrEmpty(itemProduct.HinhAnh))
                                            {
                                                <img width="234" height="234" class=" ls-is-cached lazyloaded" src="/category-image/@itemProduct.HinhAnh">
                                            }else{
                                                <img width="234" height="234" class=" ls-is-cached lazyloaded" src="/image-default/default.png" />
                                            }
                                                    </div>
                                                    <div class="info">
                                                                                        <h3 style="height: unset">
                                                Tên phòng: @itemProduct.TenPhong
                                                        </h3>
                                                        <p>
                                                            <span>Đơn giá</span>
                                                @(
                                                                !string.IsNullOrEmpty(itemProduct.DonGiaStr) ? itemProduct.DonGiaStr : ""
                                                        ) đ<span>
                                                   @* @(
                                                                !string.IsNullOrEmpty(itemProduct.price_reduced_str) ? itemProduct.price_reduced_str : ""
                                                            )*@
                                                            </span>
                                                        </p>
                                                    </div>
                                                </a>
                                            </div>
                            }

                        }
                    }

                    @if (Model.DichVus != null && Model.DichVus.Count > 0)
                    {
                        <div class="padmb dichvu">
                            <div class="title-sale">
                                <p><a title="Laptop bán chạy">Dịch Vụ Phòng</a></p>
                            </div>
                        </div>

                        @foreach (var item in Model.DichVus)
                        {
                            <div class="product-item" style="width: 234px;">
                                <a href="javascript:void(0)">
                                    <div class="info">
                                        <h3 style="height: unset">
                                            Tên dịch vụ: @item.TenDV
                                        </h3>
                                        <p>
                                            <span>Đơn giá</span>
                                            @item.DonGiaStr đ<span>
                                            </span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                    </div>
               
                </div>
            </div>
        </section>
}
@*@await Component.InvokeAsync("DichVuNewComponent")*@

@*@await Component.InvokeAsync("ProductNewComponent")*@

@*@await Component.InvokeAsync("CategoryMenuComponent")*@
