@using TECH.Areas.Admin.Models
@model List<PhongModelView>
@{
    ViewData["Title"] = "ProductCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .product-category .ul-nmn{
            background-color: #8fa815 !important;
    display: inline-block;
    }
    .product-category .ul-nmn>li{
            float: unset;
                margin-left: unset;
    }
   .t-prod-H .t_span1 span.tab_news5 {
    background: #89a600;
}
    .t-prod-H {

        background: #e6e6e6;
    border-bottom: 1px solid #fff;
    display: block;
    width: 100%;
    height: 41px;
    margin-bottom: 0px;

}
.t-prod-H .t_span1 span.tab_news5 {
    background: #89a600;
}
.info-prod-H h3 {
    color: #333;
    font-weight: 400;
    padding: 8px;
    font-size: 13px;
    margin: 0px;
}
.info-prod-H h4 {
    font-size: 14px;
    font-weight: 700;
    color: #f8456a;
    margin: 0px;
    font-size: 13px;
}
.t-prod-H .t_span1 span {
    text-transform: uppercase;
    color: #fff;
    float: left;
    font-size: 14px;
    font-weight: 400;
    padding: 0 20px;
        height: 100%;
            display: inline-flex;
    align-items: center;
}
.item {
        width: 100%;
    display: inline-block;
    height: 348px;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 10px;
    border: 1px solid #ddd;
}

 .shoe-product .product-item{
            width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    margin: 10px 0 15px;
    text-align: left;
    }
    .shoe-product .images{
            position: relative;
    padding-bottom: 100%;
    height: 0;
    }
    .ribbon{
            display: block;
    right: 0;
    top: 0;
    z-index: 9;
    overflow: hidden;
    width: 73px;
    height: 66px;
    text-align: center;
    position: absolute;
    }
     .ribbon span{
         height: 26px;
    overflow: hidden;
    font-size: 11px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    line-height: 26px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 103px;
    display: block;
    background: #f7941d;
    background: linear-gradient(#f7941d 0,#f7941d 100%);
    box-shadow: 0 3px 10px -5px #000;
    top: 11px;
    position: absolute;
     }
     .shoe-product img{
             position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    border: 1px solid #dadada;
     }
     .shoe-product .info{
             position: relative;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
     }
     .shoe-product .info h3{
             font-size: 14px;
    margin: 5px 0;
    overflow: hidden;
    font-weight: 400;
    /* height: 41px; */
    line-height: 22px;

        text-transform: unset;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: unset;
     }
     .shoe-product .info p{
             font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
        color: #e77e24;
     }
     .shoe-product .info p sup{
             padding-left: 2px;
    color: #e77e24;
     }
     .shoe-product .info p span{
             color: #666;
    text-decoration: line-through;
    padding-left: 10px;
    height: auto;
    font-size: 16px;
     }
         .shoe-product  h3 a, .shoe-product li h3 a {
        display: table-cell;
        vertical-align: middle;
        text-overflow: ellipsis;
        text-decoration: none;
        color: #333;
    }

    .custom-menu .ul-nmn{
            background-color:unset !important;
    }
    .custom-menu .ul-nmn img{
        display:none;
    }
        .custom-menu .ul-nmn>li {
            text-align: left;
            border-bottom: 1px solid #ddd;
            padding-bottom: 13px;
            z-index: 0 !important;
    }
    .custom-menu .ul-nmn>li a{
            padding: 0px;
    }

</style>
<section class="product-category custom-height">
    <div data-v-7b8a01fc="" class="container">
        <div class="breadcum">

            <ul>
            <li><a title="" href="/">Trang chủ</a></li>
            /
                @if (Model != null && Model.Count > 0)
                {
                        <li><a href="/san-pham/@Model[0].Id">@Model[0].TenNha</a></li>
                }

            </ul>
            <div class="clear"></div>
            </div>
        <div class="row">
            <div class="col-sm-3">
                @*@await Component.InvokeAsync("CategoryMenuComponent")*@
                @*<div class="custom-menu" style="border:0;padding:0">
                    <span style="font-weight: bold;border-bottom: 1px solid #ddd;padding-bottom: 13px;display: block;">DANH MỤC SẢN PHẨM</span>
                           @await Component.InvokeAsync("CategoryMenuComponent")
                    </div>*@
            </div>
            <div class="col-sm-9">
                <div class="shoe-product">
                    @if (Model != null && Model.Count > 0)
                    {
                        @foreach (var item in Model)
                        {
                                    <div class="product-item">
                                        <a href="/chi-tiet-phong/@item.Id">
                                            <div class="images custom-image-status">
                                        @*@if (!string.IsNullOrEmpty(item.statusstr))
                                        {
                                            <span class="discount">-17%</span>

                                            <div class="ribbon"><span>@item.statusstr</span></div>
                                        }
                                        @if (item.ImageModelView != null && item.ImageModelView.Count > 0)
                                        {
                                            <img width="234" height="234" class=" ls-is-cached lazyloaded" src="/product-image/@item.ImageModelView[0].name">
                                        }*@
                                        @*@if (item.ImageModelView != null && item.ImageModelView.Count > 0)
                                        {
                                            <img width="234" height="234" class=" ls-is-cached lazyloaded" src="">
                                        }*@
                                        @if (!string.IsNullOrEmpty(item.TinhTrangStr))
                                        {
                                            <div class="trang-thai-phong"><span>@item.TinhTrangStr</span></div>
                                        }
                                        @if (!string.IsNullOrEmpty(item.LoaiPhongStr))
                                        {
                                            <div class="loai-phong"><span>@item.LoaiPhongStr</span></div>
                                        }
                                        @if (!string.IsNullOrEmpty(item.HinhAnh))
                                        {
                                            @*<img width="234" height="234" class=" ls-is-cached lazyloaded" src="/category-image/@itemProduct.HinhAnh">*@
                                                        <img width="234" height="234" class=" ls-is-cached lazyloaded" src="/category-image/@item.HinhAnh">
                                        }

                                            </div>
                                            <div class="info">
                                                <h3>
                                                    Tên phòng: @item.TenPhong
                                                </h3>
                                                <p>Đơn giá: @(!string.IsNullOrEmpty(item.DonGiaStr) ? item.DonGiaStr : "") đ</p>
                                            </div>
                                        </a>
                                    </div>
                        }
                    }                  
                </div>
            </div>
        </div>       
    </div>
</section>

